  body,html{
  margin:0px;
  padding:0px;
  width:100vw
  height:100vh
  font-size:15px;
  font-family:century gothic;
  background-image: url(images/fond2.jpg);
  background-size:3000vw;
  background-repeat: no-repeat;
}
.jumbotron{
margin:20px;
background-color:rgba(34, 97, 111, 0);
padding:100px;
Background-position: center center;
}


[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
#titre{
margin-bottom: 20px;
margin-top: 100px;
}
#conteneur-menu{
}
.menu{
  width:100%;
  background-color:black;
}
.menu a{
  text-decoration:none;
  color:black;
  background-color:#DDD;
  transition:0.4s;
  padding:5px 25px;
}
.menu a:hover{
  text-decoration:none;
  color:#999;
  background-color:white;
  transition:0.4s;
}

#conteneur-Profil{
  background-image: url(images/tablette.jpg);
  text-align:center;
  background-repeat: no-repeat;
  font-family: 'Baloo Chettan';
  display:block;
  Background-position: center center;
  background-size:80vw
}

.profil-text{
  width:100%;
}
#conteneur-Formation{
  padding:100px 0px;
    max-width:800px;
    width:100%;
    margin:auto;
    text-align:right
}

.title h2{
  padding-bottom:25px;
  font-size:25px;
  font-weight:100;
  text-align:center;
  text-transform:uppercase;
}

#conteneur-Formation{
  padding:100px 0px;
    max-width:800px;
    width:100%;
    margin:auto;
    text-align:right;
  background-image:rgba(251, 251, 251, 0)
}

#conteneur-Qualification{
  padding:100px 0px;
    max-width:800px;
    margin:auto;
    text-align:right;
  color:white
}

/*CONTACT*/
#conteneur-Contact{
  padding:1px 0px;
  background:rgba(21, 6, 71, 0)
  background-size:cover;
}
.contact{
  max-width:660px;
  width:100%;
  margin:auto;
  text-align:center;
}
.contact h2{
  padding-bottom:50px;
  font-size:25px;
  font-weight:100;
  text-transform:uppercase;
  color:#FFF;
}
.input h3{
	margin-top:15px;
	margin-bottom:10px;
	color:#fff;
	font-size:17px;
  font-weight:100;
  text-align:left;
}
.input textarea{
	margin-bottom:15px;
}
input[type="email"], input[type="text"],  textarea{
	height:25px;
	width:100%;
	padding:2.5px 8px;
	background-color:rgba(0,0,0,0.4);
	border:none;
	border-bottom:1px solid #E3E3E3;
	box-shadow:none;
	box-sizing:border-box;
	border-radius:0;
	outline:none;
  color:#fff;
}
textarea{
	min-height:150px;
	max-height:150px;
	max-width:100%;
	max-width:100%;
}
input[type="submit"]{
	font-size:17px;
	width:100%;
	display:inline-block;
	height:25px;
	padding:0 30px;
	text-align:center;
	font-weight:100;
	line-height:20px;
	text-transform:uppercase;
	text-decoration:none;
	white-space:nowrap;
	border-radius:0px;
	border:0;
	cursor:pointer;
	box-sizing:border-box;
	color:white;
	background-color:rgba(0,0,0,0.5);
	transition:0.4s;
}
input[type="submit"]:hover{
	background-color:#FFF;
	color:#000;
	text-decoration:none;
	transition:0.4s;
}
#conteneur-footer{
  padding:10px 0px;
  background-color:#000;
  color:#FFF;
  text-align:center;
}
.footer a{
  color:#FFF;
  text-decoration:none;
  padding-top:50px;
  transition:0.4s;
}
.footer a:hover{
  color:#DDD;
  text-decoration:none;
  transition:0.4s;
}
